
version 20160209

conf xen_npf
     create         "npf test configuration"
     assimilate     xen_pv
     add            -lrumpnet_netinet
     add            -lrumpnet_net
     add            -lrumpnet
     add            -lrumpnet_npf
     add            -lrumpdev_bpf
     add            -lrumpdev
     add            -lrumpvfs
fnoc